
body {
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
background-color: #f4f4f4;
}
main {
    margin-left: 250px; /* Matches the sidebar width */
    padding: 1rem;
    transition: margin-left 0.3s; /* Smooth transition if sidebar width changes */
}

.sidebar {
    width: 250px; /* Ensure consistent width */
    height: 100vh;
    background-color: #4376d6;
    color: #ffffff;
    position: fixed; /* Keeps the sidebar fixed */
    left: 0;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.42);
    transition: width 0.3s;
}

.sidebar-title {
padding: 20px;
font-size: 24px;
text-align: center;
}

.nav {
padding: 10px 0;
}
.nav-item {
display: flex;
align-items: center;
padding: 15px 20px;
color: #ffffff;
text-decoration: none;
border-radius: 10px;
transition: background-color 0.3s; }

.icon {
width: 24px;
height: 24px;
margin-right: 10px;
}

.nav-item:hover {
background-color: #0883ff;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px; /* Adjust sidebar width for smaller screens */
    }

    main {
        margin-left: 200px; /* Adjust margin to match the smaller sidebar width */
    }
.nav-item {
    font-size: 14px;
    padding: 10px;
}}

.icon{
    color: #e0e0e0;
}
