:root{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* For Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff4b4b, #ff704e); /* Stylish gradient */
  border-radius: 4px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ff4b4b, #ff704e); /* Hover effect */
}

::-webkit-scrollbar-track {
  background: #121212; /* Light background for the track */
  border-radius: 4px; /* Rounded corners for the track */
}

::-webkit-scrollbar-track:hover {
  background: #121212; /* Slightly darker on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* Makes scrollbar minimal */
  scrollbar-color: #ff4b4b #121212; /* Thumb color and track color */
}

/* Optional Customization for Overflow Containers */
.container {
  overflow-y: auto; /* Adds vertical scrolling if needed */
  max-height: 300px; /* Example height for a scrollable area */
}


body{
    margin: 0;
    padding: 0;
    background-color: #121212;

}
main{
    margin-left: 5rem;
    padding: 1rem;
}
.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #1E1E1E;
    transition: width 200ms ease;
}
.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    height: 100%;
}
.nav-item{
    width:5rem
}

.nav-item:last-child{
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: #a3a3a3;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 200ms;
}

.nav-link:hover{
    filter: grayscale(0) opacity(1);
    color: #e0e0e0;
}

.link-text{
    display: none;
    margin-left: 1rem;
}
.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover{
    width: 14rem;
}

.navbar:hover .link-text{
    display:block;
}

.icon{
    color: #ff704e;
}

.logo{
    margin-left: 0.7rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
