 h1, h2, h3 {
            color: #f6f6f6;
            margin-bottom: 20px;
            text-align: center;
        }
.faq-item {
            border-bottom: 1px solid #e2e8f0;
            padding: 20px 0;
            margin-left: 100px;
            margin-right: 100px;
        }

        .faq-question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: 10px 0;
            font-weight: 500;
            color: #e83232;
        }

        .faq-question svg {
            width: 20px;
            height: 20px;
            transition: transform 0.3s ease;
        }

        .faq-answer {
            padding: 10px 0;
            font-size: 0.95rem;
            color: #ededed;
            display: none;
        }
