@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Michroma", sans-serif;
    height: 100vh;
}

.container{
    background-color: black;
    color: #a52d2d;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-page{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #000000, #000000, #000000);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.loading-page svg {
    width: 500px;    /*  change this value to change the size of the svg */
    object-fit: contain;
}
.sub-container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    align-content: center;
    /* justify-content: center; */
    align-items: center;
}
svg path{
    height: 150px;
    width: 150px;
    stroke: #ffffff;
    fill-opacity: 0;
    stroke-width: 5px;
    stroke-dasharray: 4500;
    animation: draw 8s ease;
}

@keyframes draw {
    0%{
        stroke-dashoffset: 4500;
    }
    100%{
        stroke-dashoffset: 0;
    }
    
}

.name-container{
    height: 30px;
    overflow: hidden;
}

.logo-name{
    color: white;
    font-size: 20px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-left: 20px;
}