{% extends 'base.html' %}

{% block head %}
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/creeds.css') }}">
{% endblock %}

{% block body %}
    <body background="{{ url_for('static', filename='ui_images/N1.jpg') }}" style="background-repeat: no-repeat; background-size: cover; width: 100%; background-position: center; background-attachment: fixed; backdrop-filter: blur(5px); background-repeat: no-repeat;) " >

<div class="banner">
    <div class="slider" style="--quantity: 10">
        <div class="item" style="--position: 1"><img src="./static/ui_images/3D-1.jpg" alt=""></div>
        <div class="item" style="--position: 2"><img src="./static/ui_images/3D-2.jpg" alt=""></div>
        <div class="item" style="--position: 3"><img src="./static/ui_images/3D-3.jpg" alt=""></div>
        <div class="item" style="--position: 4"><img src="./static/ui_images/3D-4.jpg" alt=""></div>
        <div class="item" style="--position: 5"><img src="./static/ui_images/3D-5.jpg" alt=""></div>
        <div class="item" style="--position: 6"><img src="./static/ui_images/3D-6.jpg" alt=""></div>
        <div class="item" style="--position: 7"><img src="./static/ui_images/3D-7.jpg" alt=""></div>
        <div class="item" style="--position: 8"><img src="./static/ui_images/3D-8.jpg" alt=""></div>
        <div class="item" style="--position: 9"><img src="./static/ui_images/3D-9.jpg" alt=""></div>
        <div class="item" style="--position: 10"><img src="./static/ui_images/3D-10.jpg" alt=""></div>

    </div>
    <div class="content">
        <h1 data-content="WANDERVERSE">
            WANDERVERSE
        </h1>
        <div class="author" >
            <p><b>Lose yourself to find your soul</b></p>
            <h2>Wanderverse</h2>
        </div>

    </div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% for post, images_str in results %}
            <div class="blog" data-images="{{ images_str }}" style="position: relative;">
                <a href="{{ url_for('posts', post_id=post.id) }}">
                    <img src="{{ url_for('static', filename='Images/' + images_str.split(',')[0]) }}" alt="Blog Image" class="blog-image">
                    <div class="blog-title">{{ post.title }}</div>
                    <div class="blog-destination">{{ post.location }}</div>
                </a>
            </div>
        {% endfor %}
    </div>

    <script>
        // JavaScript to handle hover effect and image swapping
        document.querySelectorAll('.blog').forEach(blog => {
            const images = blog.dataset.images.split(',');
            let currentIndex = 0;
            const imgElement = blog.querySelector('.blog-image');

            blog.addEventListener('mouseenter', () => {
                currentIndex = 0; // Start cycling images on hover
                blog.interval = setInterval(() => {
                    currentIndex = (currentIndex + 1) % images.length;
                    imgElement.src = `/static/Images/${images[currentIndex]}`;
                }, 1000); // Change image every 1 second
            });

            blog.addEventListener('mouseleave', () => {
                clearInterval(blog.interval);
                imgElement.src = `/static/Images/${images[0]}`; // Reset to first image
            });
        });

        // Function to toggle menu for a specific blog
        function toggleMenu(menuContainer) {
            // Close any other open menus
            document.querySelectorAll('.frame1.menu').forEach(menu => {
                if (!menuContainer.contains(menu)) {
                    menu.classList.add('hidden');
                }
            });

            // Toggle the visibility of the current menu
            const menu = menuContainer.querySelector('.frame1.menu');
            menu.classList.toggle('hidden');
        }

        // Close menu when clicking elsewhere
        document.addEventListener('click', event => {
            if (!event.target.closest('.menu-container')) {
                document.querySelectorAll('.frame1.menu').forEach(menu => {
                    menu.classList.add('hidden');
                });
            }
        });
    </script>

{% endblock %}</body>