<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/frontc.css') }}">
</head>
<body  background="{{ url_for('static', filename='ui_images/N1.jpg') }}" style="background-repeat: no-repeat; background-size: cover; width: 100%; background-position: center; background-attachment: fixed; backdrop-filter: blur(5px); background-repeat: no-repeat;) " >

<div class="banner">
    <div class="slider" style="--quantity: 10">
        <div class="item" style="--position: 1"><img src="./static/ui_images/3D-1.jpg" alt=""></div>
        <div class="item" style="--position: 2"><img src="./static/ui_images/3D-2.jpg" alt=""></div>
        <div class="item" style="--position: 3"><img src="./static/ui_images/3D-3.jpg" alt=""></div>
        <div class="item" style="--position: 4"><img src="./static/ui_images/3D-4.jpg" alt=""></div>
        <div class="item" style="--position: 5"><img src="./static/ui_images/3D-5.jpg" alt=""></div>
        <div class="item" style="--position: 6"><img src="./static/ui_images/3D-6.jpg" alt=""></div>
        <div class="item" style="--position: 7"><img src="./static/ui_images/3D-7.jpg" alt=""></div>
        <div class="item" style="--position: 8"><img src="./static/ui_images/3D-8.jpg" alt=""></div>
        <div class="item" style="--position: 9"><img src="./static/ui_images/3D-9.jpg" alt=""></div>
        <div class="item" style="--position: 10"><img src="./static/ui_images/3D-10.jpg" alt=""></div>

    </div>

</div>
</body>
</html>